@model Game


<h1>Exact Duplicates Will Not Be Added</h1>
<form method="post" asp-action="Add">
    <p>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </p>
    <p>
        <label asp-for="Genre">Genre</label>
        <input asp-for="Genre" />
        <span asp-validation-for="Genre"></span>
    </p>
    <p>
        <label asp-for="Platform">Platform</label>
        <input asp-for="Platform" />
        <span asp-validation-for="Platform"></span>
    </p>
    <p>
        <label asp-for="Rating">Rating</label>
        <select name="Rating">
            <option value="Not Rated">Not Rated</option>
            <option value="RP">Rating Pending</option>
            <option value="eC">Early Childhood</option>
            <option value="E">Everyone</option>
            <option value="E10">Everyone 10+</option>
            <option value="T">Teen</option>
            <option value="M">Mature</option>
            <option value="Ao">Adults Only</option>
        </select>
    </p>
    <p>
        <label asp-for="ReleaseYear">Release Year</label>
        <input asp-for="ReleaseYear" />
        <span asp-validation-for="ReleaseYear"></span>
    </p>
    <p>
        <label asp-for="Image">Image URL</label>
        <input asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </p>
    <p><button type="submit">Add Game</button></p>
</form>