

<div id="descBox">
    <img src="~/saltlogo.png" class="mainImg"/>
    <h1>Welcome to Salt Games library</h1>
    <h1>For the saltiest of gamers</h1>
    <h2>Some of our favorite quotes</h2>
    <h3>"HOW DOES THAT EVEN HAPPEN"</h3>
    <h3>"THIS TEAM IS SO USELESS"</h3>
    <h3>"THIS SERVER IS FULL OF NOTHING BUT HACKERS"</h3>
    <h3>"HOW THE frick DID AN M18 EVEN GET UP THERE"</h3>
</div>